
<div id="mail">
  <%= image_tag("phone-s1.png", :width => '45%') %>
  </br>
  <span class="basecolor_2" style="font-size:20px; font-weight:bold; margin:11px 0; letter-spacing:-1px; text-align:center; display:block;color:#33749f"> Мы будем рады услышать вас!</span>
  <p style="text-align:center;color:#33749f"> Если вы захотите связаться с нами <span class="basecolor_2" style="display:block; font-size:24px; letter-spacing:-1px; font-weight:bold;  margin:10px 0 8px 0; text-align:center;color:#33749f">Телефоны горячей линии по г.Чита:<br> 35-07-23; 35-07-28; 35-07-34

</span> </p>

  <p style="text-align:center;color:#33749f"> Так же вы можете написать обращение на электронный адрес: general_esrc@esrc-zbp.ru <br> или задать вопрос в личном кабинете.</p>
</div>
<div id="answer">
  <p id="ugol2">Вопрос-Ответ</p>
  <%= image_tag("thumb_47417317.jpg", :style => "width:20%;float:right;") %>
  <p style="color:#33749f">Для того, что бы задать вопрос, вам необходимо зайти в личный кабинет. </br> Кнопка личный кабинет появляется в меню автоматически после регистрации и входа на сайт.</p>
  <p>
    Сайт находится в тестовом режиме, если у вас что-то не работает, можете отправить письмо с описание проблемы на kungurov@esrc-zbp.ru
  </p>
</div>
</br>
